{% extends "base.html" %}
{% load static %}

{% block title %}Sell homemade food online at lunch.pk - Become a Foodlancer{% endblock title %}

{% block meta %}
<meta name="description" content="Lunch.pk, for any queries please send us a message, an email or give us a call.">
<meta property="og:type" content="Contact">
<meta property="og:title" content="Contact | Lunch.pk Homemade Healthy Food">
<meta property="og:description" content="Lunch.pk, for any queries please send us a message, an email or give us a call.">
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}">
<meta property="og:site_name" content="Contact | Lunch.pk Homemade Healthy Food">
<meta property="og:image" content="{% static "img/logo.png" %}">
<meta property="og:image:secure_url" content="{% static "img/logo.png" %}">
<meta name="twitter:card" content="Contact">
<meta name="twitter:site" content="Contact">
<meta name="twitter:domain" content="{{ request.scheme }}://{{ request.get_host }}">
<meta name="twitter:title" content="Contact | Lunch.pk Homemade Healthy Food">
<meta name="twitter:description" content="Lunch.pk, for any queries please send us a message, an email or give us a call.">
<meta name="twitter:image" content="{% static "img/logo.png" %}">
{% endblock meta %}

{% block content %}

<section class="py-5" style="background: #f5f8fa;">
    <div class="container">
        <div class="row p-5">
            <div class="col-lg-6">
                <h1 class="fw-bold mb-4" style="font-weight: 600;">Contact Us</h1>
                <div class="py-3">
                    <h5>Phone / Whatsapp:</h5>
                    <p class="mb-2">+92 333 5189005</p>
                    <p class="mb-2">+92 335 5517720</p>
                </div>
                <div class="py-3">
                    <h5>Email:</h5>
                    <p class="mb-2">info@lunch.pk</p>
                </div>
                <div class="py-3">
                    <h5>Locations:</h5>
                    <p class="mb-2">Available in Lahore, Karachi,</p>
                    <p class="mb-2">Islamabad and Rawalpindi</p>
                </div>

            </div>
            <div class="col-10 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-body p-5">
                        <h6 class="mb-4">Leave us a message and someone will get back to you shortly.</h6>
                        <form method="POST">
                            {% csrf_token %}
                            <!-- Name field -->
                            <div class="mb-3">
                                {{ form.name.label_tag }}
                                {{ form.name }}
                                {% if form.name.errors %}
                                    <ul>
                                        {% for error in form.name.errors %}
                                            <li class="error-text">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>                                    
        
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form.phone.label_tag }}
                                        {{ form.phone }}
                                        {% if form.phone.errors %}
                                            <ul>
                                                {% for error in form.phone.errors %}
                                                    <li class="error-text">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form.email.label_tag }}
                                        {{ form.email }}
                                        {% if form.email.errors %}
                                            <ul>
                                                {% for error in form.email.errors %}
                                                    <li class="error-text">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                {{ form.message.label_tag }}
                                {{ form.message }}
                                {% if form.message.errors %}
                                    <ul>
                                        {% for error in form.message.errors %}
                                            <li class="error-text">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                
                            <!-- Submit Button -->
                            <button type="submit" class="mt-3 cta-btn cta-btn-primary">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-5">
    <div class="container">
        <h2 class="h2 fw-bold mb-5">Got Questions? We Have Got Answers</h2>
        <div class="faqs py-3">
            <div class="mb-5">
                <div class="container">
                    <h5 class="mb-3">Which Cities Are You Available?</h5>
                    <p style="width: 85%;">We are available in 4 cities and expanding. Lahore, Karachi, Islamabad and Rawalpindi. We will be available in more cities soon.</p>
                </div>
            </div>
            <div class="mb-5">
                <div class="container">
                    <h5 class="mb-3">Are You Available In My Area or Street?</h5>
                    <p style="width: 85%;">You can simply send us your location on WhatsApp at +92 333 5189005 and we'll share details and menus for your area</p>
                </div>
            </div>
            <div class="mb-5">
                <div class="container">
                    <h5 class="mb-3">What Makes Lunch.pk Different From Other Food Portals?</h5>
                    <p style="width: 85%;">Almost 98% of the food apps and portals connect you with the restaurants and hotels near you. On the other hand, Lunch.pk connects you with our verified foodie families living near you. We accept only homemade food and kitchens backed by expert women chef well known for their quality food to give you a real taste of homemade food and healthy meals at your doorstep. Moreover, we have quality assurance processes and regular checks to make sure that you get clean, hygienic and healthy food via home kitchens. We do not accept poor kitchen environments, bad taste or any hotels or restaurant food.</p>
                </div>
            </div>
            <div class="mb-5">
                <div class="container">
                    <h5 class="mb-3">What Is Minimum Order For Daily Deals?</h5>
                    <p style="width: 85%;">We need order of minimum 5 persons for daily deals. However, if you are a single subscriber, you can check out our monthly or weekly packages here.</p>
                </div>
            </div>
            <div class="mb-5">
                <div class="container">
                    <h5 class="mb-3">What If I Want Food For 6 or 7 Days A Week?</h5>
                    <p style="width: 85%;">If you want food for 6 days or 7 days a week, all you need is to pay extra amount for those additional days and let us know while filling out the form.</p>
                </div>
            </div>
            <div class="mb-5">
                <div class="container">
                    <h5 class="mb-3">How Much Food Is Served In A Meal Plan?</h5>
                    <p style="width: 85%;">We offer 1 serving in our weekly monthly meal plan. the food is more than enough for 1 person but we do not recommend 2 persons to use single meal plan. Each meal includes 1 dish, 2 chapati, salad or raita. Our 5 serving deals are more than enough for 5 persons with drink, salad, raita and roti.</p>
                </div>
            </div>
            <div class="mb-5">
                <div class="container">
                    <h5 class="mb-3">What Payments Methods Do You Accept?</h5>
                    <p style="width: 85%;">All of our payments are advance. You can pay us on your first order via Bank Transfer or Cash on Delivery</p>
                </div>
            </div>
            <div class="mb-5">
                <div class="container">
                    <h5 class="mb-3">What If I Am Not Available?</h5>
                    <p style="width: 85%;">You will receive 5 meals a week. If you are not available at your address for any reasons, just inform us 1 day ahead on our phone +92 333 5189005 Your days will be adjusted when you are back and available.</p>
                </div>
            </div>
            <div class="mb-5">
                <div class="container">
                    <h5 class="mb-3">How to qualify as professional or an expert level foodlancer?</h5>
                    <p style="width: 85%;">All foodlancers with 95% plus positive feedback and having ability to retain
                        their customers for long term (3-6 months+) get promoted to an expert level. at an expert level
                        you get more sales and customers by the company.</p>
                </div>
            </div>
            <div class="mb-5">
                <div class="container">
                    <h5 class="mb-3">How helpful is lunch.pk for women?</h5>
                    <p style="width: 85%;">Since we are on a mission to empower women. We are putting our best efforts
                        to make you grow and succeed. For example, most of the running businesses charge you heavy
                        upfront franchise fee plus a monthly fee. <br><br>Additional to initial investment they charge
                        you minimum 25% to 50% of the sale with no guarantee of any sales amount. at lunch.pk, we are
                        looking to create win-win relationships and help you grow fast. For the same reasons there is no
                        upfront HUGE Franchise deposit and security deposits. You can setup your own account by paying
                        RS 2000 per month and 15% of the gross sale.</p>
                </div>
            </div>
            <div class="mb-5">
                <div class="container">
                    <h5 class="mb-3">What are your future plans?</h5>
                    <p style="width: 85%;">Our mission to facilitate you as much as we can. in our future plan, we will
                        facilitate with you with grocery at wholesale price at your doorstep as well as rider resources
                        available 24/7.</p>
                </div>
            </div>
            <div class="mb-5">
                <div class="container">
                    <h5 class="mb-3">Where to send our suggestions?</h5>
                    <p style="width: 85%;">We highly welcome your suggestions and love positive feedback. Feel free to
                        send your suggestions and feedback at info@lunch.pk or by the contact us form.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}