{% extends "base.html" %}

{% block css %}

label {
    margin: 0 5px 10px 0;
}

{% endblock css %}

{% block content %}

<div class="container py-5">
    <h2 class="fw-bold my-5" style="font-weight: 600;">Create a deal</h2>
    <form method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.non_field_errors %}
                    <li class="error-text">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="row mb-3">
            <div class="mb-3 col-lg-6">
                {{ form.image.label_tag }}
                {{ form.image }}
                {% for error in form.image.errors %}
                    <li class="error-text">{{ error }}</li>
                {% endfor %}
            </div>
            <div class="mb-3 col-lg-6">
                {{ form.name.label_tag }}
                {{ form.name }}
                {% for error in form.name.errors %}
                    <li class="error-text">{{ error }}</li>
                {% endfor %}
            </div>
            <div class="mb-3 col-12">
                {{ form.desc.label_tag }}
                {{ form.desc }}
                {% for error in form.desc.errors %}
                    <li class="error-text">{{ error }}</li>
                {% endfor %}
            </div>
        </div>

        <div class="row mb-3">
            <div class="mb-3 col-lg-6">
                {{ form.price.label_tag }}
                {{ form.price }}
                {% for error in form.price.errors %}
                    <li class="error-text">{{ error }}</li>
                {% endfor %}
            </div>
            <div class="mb-3 col-6">
                {{ form.slug.label_tag }}
                {{ form.slug }}
                {% for error in form.slug.errors %}
                    <li class="error-text">{{ error }}</li>
                {% endfor %}
            </div>
        
            <div class="col-6">
                {{ form.frozen.label_tag }}
                {{ form.frozen }}
                {% for error in form.frozen.errors %}
                    <li class="error-text">{{ error }}</li>
                {% endfor %}
            </div>
            
            <div class="col-6">
                {{ form.free_delivery.label_tag }}
                {{ form.free_delivery }}
                {% for error in form.free_delivery.errors %}
                    <li class="error-text">{{ error }}</li>
                {% endfor %}
            </div>
        </div>

        <button type="submit" class="cta-btn cta-btn-primary">Create deal</button>
        
    </form>

{% endblock content %}