{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h2 class="my-3">Edit Invoice #{{ invoice.inv_num }}</h2>
    
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
            <div class="mb-3 col-6">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in field.errors %}
                                <li class="error-text">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            {% endfor %}

        </div>
        
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
{% endblock content %}
